<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro Costes de Administración</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Libreria de bootswatch -->
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/flatly/bootstrap.css'>

    <!-- Estilo personalizado  -->
    <link rel="stylesheet" href="../../asset/css/global.css">

    <!-- Jquery -->
    <script src="../../asset/library/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- consumo de API -->
    <script src='../../js/bienes/CostesAministraciones.js'></script>
    <script src='../../js/listDataGlobal.js'></script>
</head>

<body>
    <div class="container">
        <form>
            <fieldset>
                <legend>Registro Costes de Administración</legend>

                <!-- Input formulario -->
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label>Código</label>
                        <input type="hidden" id="id">
                        <input type="text" class="form-control sizeText" id="codigo" placeholder="Ingresar código">

                        <label>Nombre</label>
                        <input type="text" class="form-control sizeText" id="nombre" placeholder="Ingresar nombre">

                        <label>Valor mes</label>
                        <input type="text" class="form-control sizeText" id="valorMes" placeholder="Ingresar valor mes">

                        <label>Tipos Inmuebles</label>
                        <select class="form-select sizeText" id="tipoInmuebleId">                            
                            <!-- Aqui llega la información de la API -->
                        </select>

                        <label>Estado</label>
                        <select class="form-select sizeText" id="estado">
                            <option>--Seleccionar--</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>                       
                    </div>

                    <!-- botones de gestión para Agregar o Modificar -->
                    <div class="col-xs-3">
                        <br>
                        <button type="button" class="btn btn-primary" onclick="AddData();">Agregar</button>
                        <button type="button" class="btn btn-primary" onclick="UpdateData();">Modificar</button>
                    </div>

                    <!-- Data de salida -->
                    <div class="col-xs-3">
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <th>Código</th>
                                    <td>Nombre</td>                                    
                                    <td>Valor Mes</td>                                    
                                    <td>Tipo Inmueble</td>
                                    <td>Estado</td>
                                    <td>Editar</td>
                                    <td>Eliminar</td>
                                </tr>

                            </thead>
                            <tbody id="dataResult">
                                <!-- Aqui llega la data de la API -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>
<script>
    findAll();
    listPropertyType();
</script>